# dependencies
back/node_modules
front/node_modules
# logs
front/npm-debug.log

# Nuxt build
front/.nuxt
# Nuxt generate
front/dist
front/yarn.locks
back/server/yarn.locks
front/.DS_Store
package.json